### "OOPs" stands for Object-Oriented Programming System

**Creating  a Class**

In [6]:
class test:

    def welcome_msg(self):
        print("Welcome to the oops class")

In [7]:
abhi = test()

In [8]:
print(type(abhi))

<class '__main__.test'>

In [9]:
abhi.welcome_msg()

Welcome to the oops class

In [20]:
class student:

    def __init__(self, name, age, height, rollNo):
        self.name = name
        self.age = age
        self.height = height
        self.rollNo = rollNo

    def student_details(self):
        return self.name, self.age, self.rollNo, self.height

    def __str__(self):
        return f"'Student name {self.name}  Student age {self.age}'"

In [21]:
abhishek = student("Abhishek", 19, 5.7, 10128)

In [22]:
abhishek.student_details()

('Abhishek', 19, 10128, 5.7)

In [23]:
abhishek.name

'Abhishek'

In [24]:
print(abhishek)

'Student name Abhishek  Student age 19'

## Polymorphism in Python

The word `polymorphism` means `many forms`, and in programming it refers to methods/functions/operators with the same name that can be executed on many object and classes.

In [25]:
class class1:

    def class_teacher_name(self):
        print("Class teacher name of class 1st is Renu panwar")


class class2 :

    def class_teacher_name(self):
        print("Class teacher name of class 2st is Akansha Yadav")

In [36]:
cls1 = class1()
cls2 = class2()

for i in (cls1, cls2):
    i.class_teacher_name()

Class teacher name of class 1st is Renu panwar
Class teacher name of class 2st is Akansha Yadav

In [38]:
def class_con(class_object):
    for i in class_object:
        i.class_teacher_name()

cls_obj = [cls1, cls2]

class_con(cls_obj)

Class teacher name of class 1st is Renu panwar
Class teacher name of class 2st is Akansha Yadav

## Encapsulation in Python

Encapsulation describes the idea of wrapping data and the methods that work on data within one unit. This puts restrictions on accessing variables and method directly and can perevent the accidental modification of data.

use `__ before variable name` for private variable

In [39]:
class number:
    def __init__(self, n):
        self.n = n

    def return_n(self):
        return self.n

In [40]:
num = number(101)

In [44]:
num.return_n()

101

In [45]:
num.n = 20227

In [46]:
num.return_n()

20227

In [75]:
class mobile:
    def __init__(self, company_name, model, country, price):
        self.__company_name = company_name
        self.__model = model
        self.__country = country
        self.__price = price

    def set_price(self, price):
        self.__price = 28500 if price < 28000 else price

    def get_price(self):
        return self.__price

    def __str__(self):
        return f"Company Name: {self.__company_name}   Model: {self.__model}   Made in: {self.__country}   Price: {self.__price}"

In [76]:
phone = mobile("Realme", "11 pro + 5G", "India", 28999)

In [77]:
print(phone)

Company Name: Realme   Model: 11 pro + 5G   Made in: India   Price: 28999

In [78]:
phone.compnay_name

AttributeError: 'mobile' object has no attribute 'compnay_name'

In [79]:
phone._mobile__company_name

'Realme'

In [80]:
phone.set_price(29999)

In [81]:
phone.get_price()

29999

In [82]:
class bank_account:
    def __init__(self, balance):
        self.__balance = balance

    def deposit(self, amount):
        self.__balance = self.__balance + amount

    def withdraw(self, amount):
        if self.__balance >= amount:
            self.__balance = self.__balance - amount
            return True
        else:
            return False

    def check_balance(self):
        return self.__balance

In [83]:
priya = bank_account(1000)

In [84]:
priya.check_balance()

1000

In [85]:
priya.deposit(3500)

In [86]:
priya.check_balance()

4500

In [87]:
priya.withdraw(500)

True

In [88]:
priya.check_balance()

4000

In [89]:
priya.withdraw(4500)

False

In [90]:
priya.check_balance()

4000

## Inheritance in Python

Inheritance allows us to define a class that inherits all the methods and properties from another class.

`Parent Class` is the class being inherited from, also called base class.

`Child Class` is the class that inherits from another class, also called derived class.

In [118]:
class tech_student:
    def __init__(self, name, id, course, year):
        self.name = name
        self.id = id
        self.course = course
        self.year = year

    def __str__(self):
        return "student:" + f"Name: {self.name}  Id: {self.id}  Course: {self.course}  Year: {self.year}"

class tech_placement(tech_student):
    def __init__(self,name, id, course, year, company_name, salary):
        super().__init__(name, id, course, year)
        self.company_name = company_name
        self.salary = salary

    def __str__(self):
        return "Placed Student " +f"Name: {self.name}  Company Name: {self.company_name}  Salary: {self.salary}"
    
    def __repr__(self):
        return f"{self.name}, {self.id} , {self.course} , {self.year} , {self.company_name} , {self.salary}"

In [119]:
ravi = tech_placement(name="Ravi Kumar", id=2032, course="Web Development", year=2022, company_name="AleaIt Solution", salary=15000)

In [120]:
print(ravi)

Placed Student Name: Ravi Kumar  Company Name: AleaIt Solution  Salary: 15000

In [121]:
ravi

Ravi Kumar, 2032 , Web Development , 2022 , AleaIt Solution , 15000